<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dependencies/bootstrap.min.css">
    <title>TurboVPB | Turbocharge Your Phone Banking in &lt;2 Minutes</title>
    <meta property="og:site_name" content="TurboVPB | Turbocharge Your Phone Banking in &lt;2 Minutes" />
    <meta property="og:title" content="TurboVPB | Turbocharge Your Phone Banking in &lt;2 Minutes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://turbovpb.com" />
    <meta property="og:description"
        content="Free browser extension that speeds up phone banking with OpenVPB, VAN, and BlueVote. Call and text with just 2 clicks!" />
    <meta property="og:video"
        content="https://www.youtube.com/watch?v=B3QotZgtmF4&list=PLj6LKfMQzQFo9Lfqpb9W_tHD463qJF8IX&index=1" />
    <meta property="og:image" content="https://turbovpb.com/images/phone-outgoing-blue-500.png" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    { content }

    <footer class="footer mt-auto py-5 text-center">
        <span class="text-muted mx-auto px-auto">
            <span class="d-md-inline d-block">
                Created for the <a href="https://sunrisemovement.org" target="_blank">Sunrise Movement</a>
            </span>
            <span class="d-md-inline d-block">
                by <a href="https://twitter.com/_emschwartz" target="_blank">Evan Schwartz</a></span>
        </span>
    </footer>
</body>

</html>